.button {
  color: rgb(0, 0, 0);
  width: 25%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  background: #b16dbd;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 8px;
}

.button:hover {
  background: #eee;
}

.pressed {
  background-color: #eee !important;
}

